
//En este archivo se modifica el fondo de la pagina, se centra la card y se modifica el body.
@import "variables";
*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: $C-fondo;
    .img-fondo {
        width: 100%;
        position: absolute;
        z-index: -1;
    }
}
