//VARIABLES DE COLOR
//Color del fondo de la pagina.
$C-fondo: #e0e8ff;
//Color de fondo de las secciones.
$C-fondo-sections: #ffffff;

//VARIABLES DE LOS MARGENES Y PADDINGS.
//Padding de las secciones.
$P-sections: 50px;
$M-sections: 30px;